<div class="title"> 
	<h1>Enlist a new minion</h1>
</div>

<table>

	<form action="/army" method="post">

		<tr>
			<td><div class="min_font">Minion's class: </div></td>
			<td>
				<input type="text" name="title">
			</td>
		</tr>
		<tr>
			<td><div class="min_font">Minion's race: </div></td>
			<td>
				<input type="text" name="race">
			</td>
		</tr>
		<tr>
			<td><div class="min_font">Minion's stats: </div></td>
			<td>
				<input type="text" name="abilities">
			</td>
		</tr>
		<tr>
			<td><div class="min_font">Minion's abilities: </div></td>
			<td>
				<input type="text" name="note">
			</td>
		</tr>
	</table>
	<input type="submit" name="Conscript!">
</form> 
